body {
    font-family: 'Karla', sans-serif;
    background-color: #A8D0E6 !important; 
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

.underline {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: under;
    font-size: 50px;
    color: #24305E
}

.introP {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.featuredHeading {
    text-align: center;
    color:#24305E;
}

.featuredBody {
    padding-left: 50px;
    max-width: 1200px;

}
